<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Tarefas</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'task.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-content">
            <span class="user-email">{{ user.email }}</span>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </div>
    </header>
    <main>
        <div class="header-box">
            <h1>Tarefas</h1>
            <a href="#" class="square-button">Criar nova task</a>
        </div>
        <div class="task-container">
            <div class="grid">
                {% for task in tasks %}
                    <div class="task-box" data-task-id="{{ task.taskId }}">
                        <h3>{{ task.taskTitle }}</h3>
                        <div class="task-items">
                            {% for task_line in task.taskLines %}
                                <div class="task-item">
                                    <input type="checkbox" {% if task_line.taskLineCheckbox %}checked{% endif %}>
                                    <span>{{ task_line.taskLineText }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>

    <!-- Modal Structure -->
    <div id="taskModal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2>Criar Nova Task</h2>
            <label for="taskTitle">Título</label>
            <input type="text" id="taskTitle" name="taskTitle">
            <label for="taskInput">Tasks</label>
            <div class="task-input-container">
                <input type="text" id="taskInput" name="taskInput">
                <button id="addTaskButton" class="square-button">Add</button>
            </div>
            <div id="taskList" class="task-list"></div>
            <button id="submitTaskButton" class="square-button">Concluir</button>
        </div>
    </div>

    <script src="{% static 'task.js' %}"></script>
</body>
</html>