<!DOCTYPE html>
<html>
<head>
    <title>Task Detail</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'task.css' %}">
</head>
<body>
    <div class="container task-detail">
        <h1>{{ task.title }}</h1>
        <p>Due Date: {{ task.due_date }}</p>
        <a href="{% url 'add_task_line' task.taskId %}">Add Task Line</a>
        <ul>
            {% for task_line in task_lines %}
                <li>{{ task_line.title }} - {{ task_line.due_date }} - {% if task_line.is_done %}Done{% else %}Not Done{% endif %}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>